{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h3>{{ new.title|censor }}</h3>
<h5>{{ new.time_in|date:'j M Y' }}</h5>
{% if new.category.all %}
    <hr>
    <h8>Категории:
        {% for category in new.category.all %}
            <a href="{% url 'category_list' category.id %}">{{category}}</a>
        {% endfor %}
    </h8>
{% endif %}
<hr>
<h5>{{ new.text|censor }}</h5>
<hr>
<a class="nav-link" href="/news/{{new.id}}/edit">Изменить</a>
{% endblock content %}