{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h2>Новостей: {{ news|length }}</h2>
    <hr>
    <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
    </form>
    <hr>
    {% if news %}
        {% for new in news %}
            <h3>{{ new.title|censor }}</h3>
            <h5>{{ new.time_in|date:'j M Y' }}</h5>
            <h5>{{ new.text|censor|truncatechars:20 }}</h5>
        {% endfor %}
    {% else %}
        <h4>Новостей нет!</h4>
    {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}